:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("movie-theater-g1d8c9b4ac_1280.jpg");
  background-size: 100vw 120vh;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
}
