.landingCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
}

.searchLanding{
    height: 84vh;
    width: 100vw;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 60vw;
    margin: 15vh 0 0 10vw;
    font-size: 4em;
}

.subtitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 60vw;
    margin: 8vh 0 0 10vw;
    font-size: 1.8em;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
    margin: 5vh 0 0 10vw;
}

.searchInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 37vw;
    height: 5vh;
    background-color: white;
    border-radius: 8px;
    border-style: none;
    color: black;
    padding: 0 1vw;
}

.searchButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
    cursor: pointer;
    background-color: rgba(190,19,29, 0.9);
    margin: 0 0 0 3vw;
    border-radius: 8px;
    color: white;
    font-family: Raleway;
    font-size: 1em;
    border-style: none;
}

.searchButton:hover{
    font-size: 1em;
    transform: scale(0.97);
    background-color: rgba(190,19,29, 1);
}

.allMovies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.allTitle{
    width: 60vw;
    height: 10vh;
    font-size: 3em;
    margin: 0 0 10vh 0;
}

.moviesList{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh 2vw;
    width: 15vw;
    height: 40vh;
    cursor: pointer;
}

.moviePoster{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    max-width: 15vw;
    height: 40vh;
    max-height: 40vh;
}