.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 16vh;
    background-color: transparent;
}

.logo{
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 8vw;
    height: 15vh;
    margin: 1vh 0 0 1vw;
    background-image: url("belgian-g807cf7783_1280.png");
    background-size: 8vw 15vh;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15vw;
    height: 15vh;
    margin: 1vh 34vw 0 2vw;
    font-weight: 700;
    font-size: 3em;
}

.search{
    width: 22vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    margin: 5vh 2vw;
}

.inputField{
    width: 10vw;
    margin: 0 0 0 8vw;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0 0 0 1vw;
    transition-duration: 0.5s;
}

.inputSubmit{
    width: 4vw;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url("search.png");
    background-size: 2vw 4vh;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
    cursor: pointer;
}

.inputField:focus{
    outline: none;
    margin: 0;
    width: 18vw;
}

.loginButton{
    width: 10vw;
    height: 6vh;
    margin: 5vh 2vw;
    background-color: rgba(190,19,29,0.9);
    border-radius: 4px;
    border-style: none;
    font-family: Raleway;
    font-size: 1em;
    cursor: pointer;
}

.loggedImg{
    width: 6vw;
    height: 6vh;
    margin: 5vh 4vw;
    background-color: transparent;
    border-style: none;
    background-image: url("user-circle.png");
    background-repeat: no-repeat;
    background-size: 3vw 6vh;
    transform: scale(1.5);
    cursor: pointer;
}

.loginButton:hover{
    font-size: 1em;
    transform: scale(0.97);
    background-color: rgba(190,19,29, 1);
}

.loggedMenu{
    position: absolute;
    left: 87vw;
    top: 12vh;
    list-style: none;
    width: 8vw;
    background-color: transparent;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.loggedOption{
    display: flex;
    flex-direction: row;
    min-width: 8vw;
    height: 4vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(190,19,29, 0.9);
    cursor: pointer;
}

.loggedOption:hover{
    background-color: rgba(190,19,29, 1);
}

