.searchCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 84vh;
}

.poster{
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 60vh;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40vw;
    height: 60vh;
}