.signupCont {
    width: 100vw;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formCont{
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    position: relative;
    padding: 2vh 2vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}

.form {
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    position: relative;
}

.title {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.inputCont{
    width: 25vw;
    height: 15vh;
}

.labelEmail,
.labelPassword,
.labelName,
.labelLastname,
.labelUsername,
.labelRepeatPassword {
    width: 20vw;
    height: 4vh;
    pointer-events: none;
    margin: 0 0 0 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.inputEmail,
.inputPassword,
.inputName,
.inputLastname,
.inputUsername,
.inputRepeatPassword {
    width: 23vw;
    height: 5vh;
    margin: 0;
}

.errorText{
    margin: 0 0 5vh 0;
    color: rgba(190,19,29,1);
}

.submit{
    width: 20vw;
    height: 5vh;
    background-color: rgba(190,19,29,0.9);
    border-radius: 4px;
    border-style: none;
    font-size: 1em;
    cursor: pointer;
}

.submit:hover{
    font-size: 1em;
    transform: scale(0.97);
    background-color: rgba(190,19,29, 1);
}

.signUpLink{
    width: 20vw;
    height: 5vh;
}

.signUpLink>a:hover{
    cursor: pointer;
    color: rgba(190,19,29, 1);
    text-decoration: underline;
}